@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100;1,700&family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #06101b;
}

.overlay{
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.header h1{
    color: #ea7317;     
    font-family: 'Rubik Dirt', cursive;
    cursor: pointer;
}

.header ul{
    list-style-type: none;
    margin: 10px auto 0px auto;

}

.header li{
    display: inline;
    color: #2364aa;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-decoration:none;
    cursor: pointer;    
}

.header li:hover{
    color: #3da5d9;
    text-decoration: underline;
}

.header li span{
    color: #ea7317;
}

.fa-cart-shopping{
    color: white;
}

  .nav-about-open{
    display: none;
  }

  .nav-deals-open{
    display: none;
  }

  .nav-shop-open{
    display: none;
  }

  .nav-checkout-open{
    display: none;
  }

  .nav-thankyou-open{
    display: none;
  }


.jumbotron h1{
    color: #3da5d9;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
}

.jumbotron p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;

}

.jumbotron button{
    background-color: #2364aa;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    color: white;
    width: 200px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    box-shadow: 0px 0px 35px #ea7317;

}


.about h1, .headerDeals, .shop h1, .checkHeader{
    color: #ea7317;     
    font-family: 'Rubik Dirt', cursive;
    text-align: center;
} 

.about img{
    height: auto;
    display: block;
}

.about p{
    color: #ffffff;
    text-align: center;
}

.card{
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: 4px solid #ea7317;
    border-radius: 20px;
    overflow: hidden;
}

.card h1{
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.card h2{
    text-align: center;
    color: green;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.card h2 span{
    color: red;
    text-decoration: line-through;
}

.card button{
    width: 40%;
    background-color: #2364aa;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;

}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: #ea7317; 
  }

  ::-webkit-scrollbar-thumb {
    background: #2364aa; 
  }

  /*checkout*/
   

  .checkDiv button{
    background-color: #2364aa;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 10px; 
    padding: 5px; 
  }

  .checkout input{
    color: #ffffff;
    background-color: #06101b;
    border: none;

  }

  .checkout label{
    color: #ffffff;
  }

  .cart-items div{
    border: 4px solid #2364aa;
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }

  .cart-items div img{
    width: 100px;
    height: auto;
    object-fit:fill;
    overflow: hidden;
  }

  .cart-items div h1{
    color: #ffffff;
  }

  .cart-items div p{
    color: #ffffff;
  }

  .cart-items div button{
    background-color: #2364aa;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 10px;  

  }

  .nav-thankyou-open p{
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
    margin: 10px;
  }

  .checkDiv p{
    color: red;
    text-align: left;
    font-size: 2rem;
  }

@media (max-width: 576px) {

   

    .header h1{
        font-size: 2rem;
        text-align: center;
        margin: 5px auto;
        padding: 5px;
    }

    .header li{
        font-size: 1.25rem;
        text-align: center;
        margin: 0px 8px;
        padding: 5px;
    }

    .fa-cart-shopping{
        font-size: 1.25rem;
        margin: 15px auto;
    }

    .action{
        width: 100%;
        margin: 150px 0px 25px 0px;
    }

    .overlay{
        height: 100vh;
    }

    .jumbotron img{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: -1;
    }
 
    .jumbotron h1{
        font-size: 1.75rem;
        margin: 10px;
    }

    .jumbotron p{
        font-size: 1rem;
        width: 100%;
        margin: 10px 0px;
        padding: 10px;
    }

    .jumbotron button{
        font-size: 1rem;
        margin: 10px auto;
    }

    .nav-about-open{
        position: relative;
        margin: 40% auto; 
      }

     
     .about h1, .headerDeals, .shop h1, .checkHeader{
        font-size: 1.75rem;
        margin: 0px auto;
    }
      
      .about img{
        max-width: 300px;
        height: auto;
        margin: 10px auto;
      }

      .about p{
        font-size: 1rem;
      }
    
      .nav-deals-open{
        position: relative;
        margin: 40% auto; 
      }
    
      .nav-shop-open{
        position: relative;
        margin: 40% auto; 
      }

      .card{
        max-width: 300px;
        margin: 15px auto;
        padding: 0px 0px 10px 0px;
    }

    .card h1{
        font-size: 1.75rem;
        margin: 5px auto;
    }

    .card h2{
        font-size: 1.25rem;
    }
   
    .card button{
        font-size: 1rem; 
        margin: 5px auto; 
    }
    
      .nav-checkout-open{
        position: relative;
        margin: 40% auto; 
      }

      .cart-items div{
        margin: 10px 0px;
        padding: 5px;
    
    }

    .cart-items div h1{
        font-size: 1rem;
        margin: 20px auto;
    }

    .cart-items div p{
        font-size: .6rem;
        margin: 22px auto;
    }

    .cart-items div button{
        margin: auto;
        font-size: .6rem;
        padding: 5px; 
    }

    .checkDiv{
        width: 60%;
        margin: 0px 0px 0px auto;
     
      }

      .checkout input{
        width: 50px;
        height: auto;
        margin: 0px 10px;
        font-size: 1rem;
        text-align: left;
    }

    .checkout label{
        font-size: 1rem;
        text-align: center;
    }

      .checkDiv button{
        font-size: .75rem;
        margin: 10px auto;
      }

    .nav-thankyou-open{
        position: relative;
        margin: 40% auto;
    }

}

@media  (min-width: 577px) {

    .header h1{
        font-size: 2.25rem;
        text-align: center;
        margin: 10px auto 0px auto;
    }
    
    .header li{
        font-size: 1.5rem;
        text-align: center;
        margin: 0px 25px;
        padding: 10px;
    }

    .fa-cart-shopping{
        font-size: 1.75rem;
        margin: 20px auto 0px auto;
        padding: 0px;
    }

    .action{
        width: 70%;
        display:flexbox;
        margin: 100px 0px 0px 0px;
    
    }

    .overlay{
        height: 100%;
    }

    .jumbotron img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .jumbotron h1{
        font-size: 2.25rem;
        margin: 25px 25px 0px 25px;
    }

    .jumbotron p{
        font-size: 1.25rem;
        margin: 5px auto 25px auto;
        padding: 25px;
        width: 75%;
    }

    .jumbotron button{
        font-size: 1rem;
        margin: 25px auto;
    }

    .nav-about-open{
        width: 100%;
        height: auto;
        margin: 150px auto;
        position: relative;
    
    }

    .about h1, .headerDeals, .shop h1, .checkHeader{
        font-size: 2.25rem;
        margin: 0px auto;
    }

    .about p{
        font-size: 1rem;
        width: 80%;
        margin: 10px auto;
        padding: 5px;
    }

    .about img{
        max-width: 500px;
        margin: 10px auto;
        padding: 5px;
    }

  
    .nav-deals-open{
        position: relative;
        width: 100%;
        margin: 125px auto;
        
    }

    .nav-shop-open{
        position: relative;
        width: 100%;
        margin: 125px auto;
        
    }

    .nav-checkout-open{
        position: relative;
        width: 100%;
        margin: 125px auto;
        height: 90vh;
        overflow-y: auto;
        
    }

    .nav-thankyou-open{
        position: relative;
        width: 100%;
        margin: 125px auto;
    }

    .card-container{
        height: 70vh;
        overflow-y: auto;
    }

    .card{
        max-width: 400px;
        margin: 25px auto;
        padding: 0px 0px 10px 0px;
    }

    .card h1{
        margin: 5px auto;
        font-size: 1.75rem;
    }

    .card h2{
        font-size: 1.25rem;
    }
   
    .card button{
        font-size: 1rem; 
        margin: 10px auto; 
    }

    /*checkout*/
    
    .checkout{
        width: 100%;
        margin: 0px auto;
    }

    .checkout input{
        width: 75px;
        height: auto;
        margin: 0px 10px;
        font-size: 1.5rem;
        text-align: left;
    }

    .checkout label{
        font-size: 1.5rem;
        text-align: center;
    }
    
      .checkDiv{
        width: 50%;
        margin: 0px auto;
     
      }

      .checkDiv button{
        font-size: 1.25rem;
        margin: 10px auto;
      }

    .cart-items div{
        margin: 15px auto;
        padding: 5px;
    }

    .cart-items div h1{
        font-size: 1.5rem;
        margin: 15px auto;
    }

    .cart-items div p{
        font-size: 1rem;
        margin: 17px auto;
    }

    .cart-items div button{
        margin: auto;
        font-size: 1rem;
        padding: 5px; 
    }

}

@media (min-width: 768px) {

    .header h1{
        font-size: 2.5rem;
        margin: 10px auto 0px auto;
    }

    .header li{
        font-size: 1.75rem;
        margin: 0px 35px;
    }

}

@media  (min-width: 992px) {

    .header h1{
        font-size: 2rem;
        text-align: left;
        margin: 10px auto;
    }

    .header li{
        font-size: 1.4rem;
        margin: 0px 25px;
    }

    .fa-cart-shopping{
        font-size: 1.5rem;
    }

    .action{
        width: 70%;
        margin-top: 15px;
        padding: 25px;
    }

    .jumbotron h1{
        font-size: 2rem;
    }

    .jumbotron p{
        font-size: 1.4rem;
    }

    .jumbotron button{
        font-size: 1.1rem;
    }

    .jumbotron img{
        object-fit:cover;
        object-position: top;
    }

    .nav-about-open{
        width: 40%;
        margin: 20px 0px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .about h1, .headerDeals, .shop h1, .checkHeader{
        font-size: 2rem;
        margin: 10px auto;
        padding: 5px;
    }

    .about img{
        max-width: 300px;
    }

    .about p{
        font-size: .75rem;
    
    }

  
    .nav-deals-open{
        width: 40%;
        margin: 10px auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-shop-open{
        width: 40%;
        margin: 25px auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    
    .nav-checkout-open{
        width: 40%;
        margin: 25px auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-thankyou-open{
        width: 40%;
        margin: 25px auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    .card-container{
        height: 85vh;
    }

    .card{
        max-width: 300px;
        margin: 15px auto;
    }

    .card h1{
        font-size: 2rem;
    }

    .card h2{
        font-size: 1.5rem;
    }
   
    .card button{
        font-size: 1rem;
    }

    .checkDiv{
        width: 80%;
    }

    .checkDiv button{
        font-size: 1rem;
    }

    .cart-items div{
        padding: 2px;
    }
    .cart-items div h1{
        font-size: 1.25rem;
        margin: 20px auto;
    }

    .cart-items div p{
        font-size: .75rem;
        margin: 22px auto;
    }

    .cart-items div button{
        font-size: .6rem;
    }


}

@media (min-width: 1200px) {

    .about h1, .headerDeals, .shop h1, .checkHeader{
        font-size: 2.25rem;
    }

    .about img{
        max-width: 400px;
    }

    .about p{
        font-size: 1rem;
    }
  

   .card{
    max-width: 350px;
   }

   .checkDiv{
    width: 60%;
    position: fixed;
    right: 0; 
   }

   .cart-items div{
    padding: 5px;
    
   }

   .cart-items div h1{
    font-size: 1.5rem;
   }

   .cart-items div p{
    font-size: 1rem;
   }

   .cart-items div button{
    font-size: .75rem;
   }

}

@media (min-width: 1600px) {

    .header h1{
        font-size: 2.25rem;
    }

    .header li{
        font-size: 1.75rem;
    }

    .fa-cart-shopping{
        font-size: 1.75rem;
    }

    .jumbotron h1{
        font-size: 2.25rem;
    }

    .jumbotron p{
        font-size: 1.75rem;
    }

    .jumbotron button{
        font-size: 1rem;
    }

    .action{
        width: 50%;
    }

    .about p{
        font-size: 1.25rem;
    
    }
    
}


@media (orientation: landscape) and (max-width: 991px)  {
 
  
    .header h1{
        font-size: 2rem;
    }

    .header li{
        font-size: 1.25rem;
    }

    .fa-cart-shopping{
        font-size: 1.25rem;
       
    }

    .action{
        width: 70%;
        margin: 25px 0px 0px 0px;
    }

    .jumbotron h1{
        font-size: 2rem;
    }

    .jumbotron p{
        font-size: 1rem;
        margin: 0px auto;
    }

    .jumbotron img{
        height: auto;
        object-fit:cover;
        object-position: top;
    }

    .jumbotron button{
        margin: 5px auto;
    }

}
